# ===============================
# Datasets (large & not needed)
# ===============================
Dataset/
preprocessed/
preprocessed_B/
path/

# ===============================
# Python cache files
# ===============================
__pycache__/
*.pyc

# ===============================
# Jupyter notebook checkpoints
# ===============================
.ipynb_checkpoints/

# ===============================
# Virtual environment
# ===============================
venv/

# ===============================
# Logs & system files
# ===============================
*.log
Thumbs.db
.DS_Store

# ===============================
# Videos & runtime outputs
# ===============================
*.mp4
snapshots/
*.pth
